*{
    font-family: 'IBM Plex Sans KR', sans-serif;
}

body {
    background-color: beige;
    
}
header{
    background-color: rgb(49, 96, 199);
    color: beige;
    text-align: center;
}
nav{
    background-color: rgb(161, 180, 219);
}
.button {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 35px;
    font-size: 14px;
}

.button:hover {
    background: rgb(161, 180, 219);
    color: white;
}
.button:active{
    background: white;
}
footer {
    background-color: rgb(161, 180, 219);
    text-align: center;
}

.textcenter {
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
/*Para quitar el subrayado */
a:link, a:visited, a:active {
    text-decoration:none;
}

h2{
    text-align: center;
}

.formregistro{
    text-align: center;
}

.imgCenter{
    display:block;
    margin:auto;
    }

    .mainContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: auto;
        align-content: start
      }
 .Container {
        flex: 0 0 auto;
        margin: 10px;
      }

/***************************************************/
/*         Media queries 600px                     */
/****************************************************/
@media screen and (max-width: 600px) {
    .mainContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        align-items: auto;
        align-content: center
      }
      .Container {
        flex: 0 0 auto;
        margin: 10px;
      }
      .topnav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: start;
        align-items: auto;
        align-content: center
    }
    .button {
      flex: 0 0 auto;
      margin: 1px;
    }
  }

/***************************************************/
/*         Media queries 992px                     */
/****************************************************/
@media screen and (max-width: 992px) {

  }