body {
    background-color: beige;
    
}
header{
    background-color: rgb(49, 96, 199);
    color: beige;
    text-align: center;
}
nav{
    background-color: rgb(161, 180, 219);
}
.button {
    background-color: white;
    border: 1px solid black;
    border-radius: 12 px;
    padding: 3px 16px;
    font-size: 14px;
}

.button:hover {
    background-color: rgb(161, 180, 219);
    color: white;
}

footer {
    background-color: rgb(161, 180, 219);
    text-align: center;
}

table{
    border-collapse: collapse;
    text-align: justify;
    text-align: center;
}
table, td, th {
    border: 1px solid black;
  }
.center {
    margin-left: auto;
    margin-right: auto;
  }

/*Para quitar el subrayado */
a:link, a:visited, a:active {
    text-decoration:none;
}