 *{
    font-family: 'IBM Plex Sans KR', sans-serif;
 }

 body {
    background-color: beige;
    
 }
 header{
    background-color: rgb(49, 96, 199);
    color: beige;
    text-align: center;
 }
 nav, .topnav_drop{
    background-color: rgb(161, 180, 219);
 }
 .topnav_drop{
    display: none;
 }
 .button {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 12px 35px;
    font-size: 14px;
 }
 label{
    font-weight: bold;
 }
 input{
    border: 1px;
    border-radius: 5px;
    border-style:inset;
 }
 .button:hover {
    background: rgb(161, 180, 219);
    color: white;
 }
 .button:active{
    background: white;
 }
 footer, .footer_rec {
    background-color: rgb(161, 180, 219);
    text-align: center;
 }

 .textcenter {
    text-align: center;
 }
 .center {
    margin-left: auto;
    margin-right: auto;
  }
 /*Para quitar el subrayado */
 a:link, a:visited, a:active {
    text-decoration:none;
 }

 h2{
    text-align: center;
 }

 .formregistro{
    text-align: center;
 }

 .imgCenter{
    display:block;
    margin:auto;
    }

    .mainContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: auto;
        align-content: start
      }
 .Container {
        flex: 0 0 auto;
        margin: 10px;
      }
 /********************************************************/
/*    Grid container Paginas General CSS                 */
/********************************************************/     
 .grid_general {
        display: grid;
         grid-template-areas:
          'grid_header grid_header'
          'topnav topnav'
          'grid_main  grid_main'
          'grid_footer grid_footer';
        border-color: red; /* Lo uso durante desarrollo para verificar que cosa estoy cambiando*/
        border-style: solid;
        grid-gap: 0px;
        width: 100%;
      }
      .grid_header { 
        grid-area: grid_header;
        background-color: rgb(49, 96, 199);
        color: beige;
        text-align: center;
    }      
    .topnav { 
        grid-area: topnav; 
        background-color: rgb(161, 180, 219);    
    }
    .grid_main { 
        grid-area: grid_main;
        text-align: center;
        margin: 10px;
    }
    .grid_footer { 
        grid-area: grid_footer; 
        background-color: rgb(161, 180, 219);
        text-align: center;
    }
/********************************************************/
/*    Grid container Recetas CSS                        */
/********************************************************/
    .grid_recipe {
        display: grid;
         grid-template-areas:
          'grid_rec_header  grid_rec_header'
          'topnav  topnav'
          'grid_top_rec  grid_top_rec'
          'recipe1  recipe_img1'  
          'recipe2  recipe_img2'
          'recipe3  recipe_img3'
          'recipe4  recipe_img4'
          'recipe5  recipe_img5'
          'recipe6  recipe_img6'
          'footer_rec  footer_rec';
        border-color: red; /* Lo uso durante desarrollo para verificar que cosa estoy cambiando*/
        border-style: solid;
        grid-gap: 0px;
        width: 100%;
        
      }

.grid_rec_header { 
    grid-area: grid_rec_header;
    background-color: rgb(49, 96, 199);
    color: beige;
    text-align: center;
}
.grid_top_rec { 
    grid-area: grid_top_rec;
    text-align: center;
}
.topnav { 
    grid-area: topnav; 
    background-color: rgb(161, 180, 219);    
}
.recipe1 { 
    grid-area: recipe1; 
    border-style: none;
    text-align: center;
    background-color: rgb(227, 231, 238) ;
    border-radius: 50px;
    margin: 5px;
    padding: 100px;
}
.recipe_img1 { 
    grid-area: recipe_img1;
    padding: 10px;
}
.recipe2 { 
    grid-area: recipe2; 
    border-style: none;
    text-align: center;
    background-color: rgb(227, 231, 238) ;
    border-radius: 50px;
    margin: 5px;
    padding: 100px;
}
.recipe_img2 { 
    grid-area: recipe_img2; 
    padding: 10px;
}
.recipe3 { 
    grid-area: recipe3; 
    border-style: none;
    text-align: center;
    background-color: rgb(227, 231, 238) ;
    border-radius: 50px;
    margin: 5px;
    padding: 100px;
}
.recipe_img3 { 
    grid-area: recipe_img3; 
    padding: 10px;
}
.recipe4 { 
    grid-area: recipe4; 
    border-style: none;
    text-align: center;
    background-color: rgb(227, 231, 238) ;
    border-radius: 50px;
    margin: 5px;
    padding: 80px;
}
.recipe_img4 { 
    grid-area: recipe_img4; 
    padding: 10px;
}
.recipe5 { 
    grid-area: recipe5; 
    border-style: none;
    text-align: center;
    background-color: rgb(227, 231, 238) ;
    border-radius: 50px;
    margin: 5px;
    padding: 80px;
}
.recipe_img5 { 
    grid-area: recipe_img5; 
    padding: 10px;
}
.recipe6 { 
    grid-area: recipe6; 
    border-style: none;
    text-align: center;
    background-color: rgb(227, 231, 238) ;
    border-radius: 50px;
    margin: 5px;
    padding: 100px;
}
.recipe_img6 { 
    grid-area: recipe_img6; 
    padding: 10px;
}
.footer_rec { 
    grid-area: footer_rec; 
    background-color: rgb(161, 180, 219);
    text-align: center;
}

